# dependencies
node_modules/

# build
dist/
dist-ssr/

# environment
.env
.env.local
.env.*.local
*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# assets (اختياري حسب طلبك)
src/assets/
src/svg/